aiohttp
aiofiles
asyncio
ffmpeg-python
Pillow
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls
pytube
wget
python-dotenv
search-engine-parser
TgCrypto
youtube-search-python
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans==4.0.0-rc1
hurry.filesize
motor
pillow
psutil
pykeyboard
pyromod
requests
speedtest-cli
TgCrypto
uvloop
yt-dlp
telegraph
hachoir
lyricsgenius
